%header{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div[header="1"]{
    height: 600px;
    .grid{ 
        padding-top: 40px;
        width: 90%;
        max-width: 1100%;
        height: 100%;
        margin: auto;
        gap: 10px;
        overflow: hidden;
        align-items: center;
        .weight-400{
            font-weight: 400;
        }
    }
}
/* index */
div > .Parrafo{
    margin-bottom: 20px;
}


.img-hero{
    width: 100%;
    height: auto;
    grid-column: 5/13;
}
.img{
    width: 100%;
    max-width: 400%;
   
}

.cta{
    width: 130px;
    background-color: blueviolet;
    color: #fff;
    display:inline-block;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    text-decoration: none;
}
/* Lo demas xd*/
.items{
    grid-column: 1/-1;
    @extend  %header;
    width: 100%;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-width: 200px;
    flex:1;
   
}
.item{
    width: 25%;
    background: #fff;
    box-shadow: 0 0 9px rgba(0,0,0, 0.5);
    overflow: hidden;
    height: 250px;
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;   
}
.texto-card {
    padding: 2px;
    text-align: start;
}
#postion{
   
    background: linear-gradient( #e0c0fb,#a46cc4);
    min-height: 100vh;
    .grid{
       min-height: 100vh;
    }
    
}
/*  About me*/
.presentation{
    width: 600px;
    background:  rgba(0,0,0,.4);
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    max-width: 1000vh;
    overflow: hidden;   
 }
 .title-p{
     /* font-size:3vw; */
     letter-spacing: 4px;
     font-weight: 100;
     margin: 30px 0 20px;
 }
 .subtitle-p{
     font-size: 15px;
     letter-spacing: 3px;
     font-weight: 100;
     margin-bottom: 20px;
 }
 .img-p{
     border-radius: 50%;
     text-align: center;
 }
 /*Galeria*/
  #Titulo-g{    
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 3%;
  }
  .galeria{ 
      width:100%;
      height: 100%;
      margin: auto;
      list-style: none;
      padding: 20px;
      box-sizing: border-box;
      @extend   %header;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .galeria li{
      margin: 5px;
  }
  .galeria img{
      width: 200px;
      height: 200px;
      border-radius: 5%;
      box-shadow: 0 0 9px rgba(0,0,0, 0.5);
  }
  /*estilos de modal*/
  .modal{
    display: none;
  }
  .modal:target{
      display: block;
      position: fixed;
      background: rgba(170, 56, 236, 0.726);
      top:0;
      left:0;
      width:100%;
      height:100%;
  }
  .modal a{
      text-decoration: none;
      padding: 2%;
  }
  .modal h3{
      color: rgb(255, 255, 255);
      font-size: 35px;
      text-align: center;
      margin: 20px 0;
      padding: 5%;
      text-decoration: none;
      
  }
  .imagen{
      width: 100%;
      height: 40%;
       @extend  %header;
      justify-content: center;
      align-items: center;
  }
 .img a{
     color: #ffff;
     font-size: 40px;
     text-decoration: none;
     margin: 0 10px;
 }
 .img a:nth-child(2){
     margin: 0;
     height: 100%;
     flex-shrink: 2;
 }
 .imagen img{
     width: 600px;
     border-radius: 2%;
     height: 250%;
     max-width:100%;
     box-shadow: 0 0 9px rgba(0,0,0, 0.5);
     box-sizing: border-box;
 }
 
 .cerrar{
     display: block;
     
     width: 25px;
     height: 25px;
     margin: auto;
     text-align: center;
     text-decoration: none;
     font-size: 50px;
     color: rgb(248, 244, 244);
     padding: 5px;
     border-radius: 50%;
     line-height: 200px;
 }

/* Responsivo*/
@media screen and (max-width: 800px) {
    .grid{
        grid-gap: 30px;
    }
    .img-hero, .textos-hero{
        grid-column: 1/-1;
    }
    .img-hero{
       text-align: center;
       height: auto;
    }
    .texto-hero{
        margin-top: 40px;
    }
    .item{
        width: 60%;
        margin: 15px 0;
        height: auto;
        padding: 10px 0;       
    }
    .presentation{
        width: 400px;
    }
     
}
@media screen and (min-width: 800px) {
    div[header="1"]{
        .grid{
            display: flex;
            justify-content: space-between;
            padding-top: 0;

        }
    }
}
